.mario {

    position: absolute;
    top: -40px;
    left: 0px;
    animation-name: drive;
    animation-duration: 3000ms;
    

}

@keyframes drive {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(700px)
    }
}