.batman{
    position: relative;
    top: 0;
    left: 0;
    
    transform: translate(800px,380px) scale(7) rotate(-90deg); /* <-- */
    
  }
  
  .joker{
    position: absolute;
    top: 0px;
    left: 0px;
  }