* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #c3cfe2;
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    position: relative;

    /* box-shadow: 4px 6px 20px 2px rgba(173,173,173,0.86); */
    
}

.afbeeelding > img {
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    top: 230px;
    left: 100px;
}

.witte-box  {
    height: 250px;
    background-color: #fff;
    padding: 15px 25px;
    line-height: 1.8em;
    
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.paarse-box {
    background-color: #686de0;
    text-align: center;
    height: 125px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


h1 {
    color: white;
    font-weight: 100;
    font-size: 15px;
    margin-top: 60px;
}

h2 {
    font-size: 14px;
    color: rgb(209, 203, 203);
    font-weight: 100;
}